@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
/* Add this to your global CSS or Tailwind CSS configuration */
.fixed {
  position: fixed;
}
.transform {
  transform: translateX(0);
}
.translate-x-0 {
  transform: translateX(0);
}
.-translate-x-full {
  transform: translateX(-100%);
}
.transition-transform {
  transition: transform 0.3s;
}
.duration-300 {
  transition-duration: 0.3s;
}
